@model HomeLoanManagementSystem.Models.EMIModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Calculate EMI";
}
<style>
    .row{
        width: 400px;
        height: 450px;
        background-color: white;
        color: #000;
        padding: 10px;
        margin: 50px auto;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        color: #6CA0DC;
        margin-bottom: 35px;
    }
</style>
<div class="d-flex justify-content-center"> 
  

    <div class="card w-50 mx-2 my-2">
        <img alt="example"
             class="img-fluid rounded"
             src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" />
        <div class="card-block my-4">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

  
    <div class="row">
       
        <div class="col-md-12">
            <h4 class="text-center">EMI Calculator</h4>
            <form asp-action="CalculateEMI">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <br />

                    <div>
                        <label asp-for="principal" class="control-label">Loan Amount</label>
                        <input asp-for="principal"
                               small-step="1"
                               large-step="10" class="form-control" />

                        <span asp-validation-for="principal" class="text-danger"></span>
                    </div><br />
                    <div id="slider"></div>

                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="tenure" class="control-label">Tenure</label>
                        <input asp-for="tenure" min="0" max="10"
                               small-step="1"
                               large-step="10" class="form-control" />
                        <span asp-validation-for="tenure" class="text-danger"></span>
                    </div><br />

                    <div id="slider2"></div>
                </div>
                <div class="form-group">
                    <label asp-for="rate" class="control-label">Rate</label>
                    <input asp-for="rate" value="8.5" readonly class="form-control" />
                    <span asp-validation-for="rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Calculate" class="btn btn-primary" />
                    @ViewBag.result
@*                    <div>
                        @ViewBag.result
                    </div>*@
                </div>
                
            </form>
        </div>
</div>

</div>

@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
    </script>
    <script>
        $(function () {
            $("#slider").slider({
                range: false,
                min: 10000,
                max: 1000000,
                values: [0],
                slide: function (event, ui) {
                    $("#principal").val(ui.values[0]);
                }
            });
            $("#slider2").slider({
                range: false,
                min: 1,
                max: 10,
                values: [0],
                slide: function (event, ui) {
                    $("#tenure").val(ui.values[0]);
                }
            });
        })
    </script>
                }
