@model HomeLoanManagementSystem.Models.EMIModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Loan Eligibility Calculator";
}

<style>

    body {
        background-image: url('greenbg.jpg');
        /*background-color: bisque;*/
        background-repeat: no-repeat;
        background-size: 50% 100%

}


    #loancal {
        width: 500px;
        height: 380px;
        background-color: white;
        color: #fff;
        padding: 10px;
        margin: 100px auto;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    h1 {
        font-size: 30px;
        text-align: center;
        color: #6CA0DC;
        margin-bottom: 35px;
    }
    .sal{
        color: #547FA4;
        text-align: center;
        margin-top: 10px;
        font-size: 21px;
        
    }

    .container {
        text-align: center;
    }

    .card-text {
        font-size: 21px;
    }

    .border-mx-5-rounded-sm  {
        text-align: center;
        color: orange;
        justify-content: center;
        font-size: 30px;
    }
    .col-md-12{
        text-align:center;
    }


</style>
    <body>
    <div class="d-flex justify-content-center">
        <div class="card w-50 mx-2 my-2">
            <img alt="example"
                 class="img-fluid rounded"
            src="~/loaneligible.jpg" />
            <div class="card-block my-4">
                <div class="card-text"> 
                Easy & Minimum Documentation process on Home Loans. 
                    Check your Eligibility! Planning to Buy your Dream Home? 
                    We provide Attractive Interest Rate at Low EMI..
                    When you apply for a home loan, the lender considers –
                    <br />
                    Your income and loan repaying capacity to determine loan eligibility
                                 Other factors include your age, retirement age, financial position, credit history, credit score
                </div>
                             </div>
        </div>

        <div id="loancal" class="rounded">
        <br />
        <div class="row">
            <div class="col-md-12">
        <h1>Loan Calculator</h1>
        <form asp-action="LoanEligibilityCalculator" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <p class="sal">Enter your Monthly Salary</p>   <label asp-for="salary" class="control-label">Monthly Salary</label>
            <input asp-for="salary" class="form-control" />
            <span asp-validation-for="salary" name="salary" class="text-danger"></span>
        </div>
        <div class="container">
            <br />
            <input type="submit" value="Calculate" asp-action="LoanEligibilityCalculator" class="btn btn-primary" /><br />.
            <div class="border-mx-5-rounded-sm " >
                <p class="sal">@ViewBag.result</p>
            </div>
           
        </div>
                </div>
        </div>
        </div>

    </div>
 
    </body>





