@model IEnumerable<HomeLoanManagementSystem.Models.FAQ>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("cshtml")[0].className += " js";</script>
	<link href="~/stylesheet.css" rel="stylesheet" />
    <script src="~/faqjavascript.js"></script>
    <script src="~/faqjavascript1.js"></script>
	    <script src="~/faqjavascriptm.js" ></script> @*main*@
    <script src="~/faqjavascriptu.js"></script> @*util*@
  <title>FAQ</title>

</head>
<body>
	<header class="cd-header flex flex-column flex-center">
		<div class="text-component text-center">
			<h1>FAQs</h1>
		</div>
	</header>

	<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">


		<div class="cd-faq__items" >
			<ul id="basics" class="cd-faq__group">

				@foreach (var item in Model)
				{
					
				<li class="cd-faq__item">
					<a class="cd-faq__trigger" href=""><span style="font-size:x-large">@Html.DisplayFor(modelItem => item.Question)</span></a>
					<div class="cd-faq__content">
						<div class="text-component">
								<p style="font-size:large">
								@Html.DisplayFor(modelItem => item.Answer)
								</p>
						</div>
					</div> 
				</li>
				}


			</ul> <!-- cd-faq__group -->

			
		</div> <!-- cd-faq__items -->

		<a href="#0" class="cd-faq__close-panel text-replace">Close</a>

		<div class="cd-faq__overlay" aria-hidden="true"></div>
	</section> <!-- cd-faq -->

</body>
