@model HomeLoanManagementSystem.Models.Application

@{
    ViewData["Title"] = "Application";
}

<h1>Application</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Application">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <select asp-for="Mobile" class ="form-control" asp-items="ViewBag.Mobile"></select>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <input asp-for="PropertyType" class="form-control" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyCost" class="control-label"></label>
                <input asp-for="PropertyCost" class="form-control" />
                <span asp-validation-for="PropertyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeType" class="control-label"></label>
                <input asp-for="EmployeeType" class="form-control" />
                <span asp-validation-for="EmployeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyAddress" class="control-label"></label>
                <input asp-for="PropertyAddress" class="form-control" />
                <span asp-validation-for="PropertyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMI" class="control-label"></label>
                <input asp-for="EMI" class="form-control" />
                <span asp-validation-for="EMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenure" class="control-label"></label>
                <input asp-for="Tenure" class="form-control" />
                <span asp-validation-for="Tenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatus" class="control-label"></label>
                <input asp-for="ApplicationStatus" class="form-control" />
                <span asp-validation-for="ApplicationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentAddress" class="control-label"></label>
                <input asp-for="PermanentAddress" class="form-control" />
                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AadharNo" class="control-label"></label>
                <input asp-for="AadharNo" class="form-control" />
                <span asp-validation-for="AadharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateOfInterest" class="control-label"></label>
                <input asp-for="RateOfInterest" class="form-control" />
                <span asp-validation-for="RateOfInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
