@model HomeLoanManagementSystem.Models.Application

@{
    ViewData["Title"] = "Application";
}

<h1>Application</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Application">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" value="@ViewBag.Mobile" readonly class="form-control" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <select asp-for="PropertyType" class="form-control" asp-items="ViewBag.Property"></select>
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyCost" class="control-label"></label>
                <input asp-for="PropertyCost" class="form-control" />
                <span asp-validation-for="PropertyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" id="Salary" placeholder="Enter your monthly salary"/>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeType" class="control-label"></label>
                <select id="ET"  class="form-control" asp-items="ViewBag.Employee"></select>
                <input type="text" asp-for="EmployeeType" id="EmployeeType" />
                <span asp-validation-for="EmployeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyAddress" class="control-label"></label>
                <input asp-for="PropertyAddress" class="form-control" />
                <span asp-validation-for="PropertyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AadharNo" class="control-label"></label>
                <input asp-for="AadharNo" class="form-control" />
                <span asp-validation-for="AadharNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" id="LoanAmt" readonly />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenure" class="control-label"></label>
                <input asp-for="Tenure" class="form-control" id="Tenure"/>
                <span asp-validation-for="Tenure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateOfInterest" class="control-label"></label>
                <input asp-for="RateOfInterest" class="form-control" readonly value=8.5/>
                <span asp-validation-for="RateOfInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMI" class="control-label"></label>
                <input asp-for="EMI" class="form-control" id="EMI" readonly />
                <span asp-validation-for="EMI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ApplicationDate" class="form-control" style="display:none" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ApplicationStatus" class="form-control" style="display:none"/>
                <span asp-validation-for="ApplicationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentAddress" class="control-label"></label>
                <input asp-for="PermanentAddress" class="form-control" />
                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Apply for loan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $('#EmployeeType').hide();

            $('#Salary').change(function(){
                var res=$('#Salary').val();
                var amt=80*0.8*res;
                $('#LoanAmt').val(amt);
            })
            $('#ET').change(function(){

                var res = $('#ET').val()
                //alert(res)
                if (res =='Other') {
                    //alert('hi')
                    $('#EmployeeType').show();
                    
                }
                else{
                    //$('#EmployeeType').show();
                    $('#EmployeeType').val($('#ET').val()) 
                }
            })
            $('#Tenure').change(function(){
                var tenure = $('#Tenure').val();
                var num1=(1+8.5)*tenure
                var num2 = (1 + 8.5) * (tenure-1)
                var res=($('#LoanAmt').val()*8.5*num1)/num2
                //alert(num1);
                //alert(num2);
                //alert(number);
                //alert(res);
                $('#EMI').val(res);
            })

        })
    </script>
}
