@model HomeLoanManagementSystem.Models.User

@{
    ViewData["Title"] = "ChangePassword";
}
<div style="background-color:rgba(128,128,128,0.2)" class="vh-100">
    <div style="background-color:rgba(29,129,159,0.7)" class="shadow mb-5 mx-5 align-content-center">
<div class="container align-items-center w-50 justify-content-center text-white">
  <form asp-action="ChangePassword">
                        <h2 class="text-uppercase text-center mb-5">Update Password</h2>

                        <div class="form-group">
                            <label>Old Password</label>
                            <input name="oldpassword" type="password" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input asp-for="Password" name="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Change Password" class="btn btn-secondary" />
                        </div>
</form>
</div>
</div>
</div>